*{
    font-family: 'Macondo', cursive;
}

body {
    background: black;
}

#screen{
    display: flex;
}
h1{
    color: white;
    font-size: 80 px; 
    text-align: center;
}

.button{
    background-color: firebrick;
    border:none;
    color: black;
    text-align: center;
    display: grid;
    font-size: 36px;
    margin: 4px 2px;
    border-radius: 30px;
    width: 250 px;
    transition-duration: 0.7s;
}
.button:hover{
    background-color: orangered;
    color:white;
    box-shadow: 0 5px #ffffff;
    transform: translateY(4px);
}

a {
    display: block;
    text-decoration: none;
    color:inherit;
}
a:hover {
    background-color: orangered;
}
