/*Styling for the entire page*/
*{
    font-family: 'Macondo', cursive;
}
/*Styling for the body*/
body {
    background: black;
}

/*Styling for the input box*/
#guessinp {
    position:absolute;
    margin: 0px;
    margin-top:4%;
    margin-left:4.75%;
    width:30%;
    font-size: 1.5vw;
    text-align: center;
}

/*Styling for the div that contains the PIXI Canvas and the side pane*/
#screen{
    display: flex;
}

/*Styling for the container that holds the canvas*/
#canvas-container {
    width:50%;
    height: auto;
}   

/*Styling for the PIXI Canvas*/
canvas {
    width:80%;
}

/*Styling for the Side Pane that holds the question and guess box*/
#sidePane{
    display: inline;
    width: 50%;
    margin-top: 4%;
    background: #000000;
}

/*Styling for the question container div*/
#question{
    display: table;
    margin-bottom:3vw;
    margin-left:auto;
    margin-right:auto;
    color: white;
    border: none;
    width: 80%;
    height: 18%;
    background-image: url(resources/regAnswerButton.png);
    background-size: cover;

}
/*Styling for the question header text*/
.questionHead{
    display: table-cell;
    color:inherit;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.35vw;
    vertical-align: middle;
}

/*Styling for the answer container div*/
.answer{
    color: black;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1vw;
    border: none;
    border-radius: 10px;
    -moz-border-radius:10px;
    width: 80%;
    height:13%;
    display: table;
    background-image: url(resources/regAnswerButton.png);
    background-size: cover;
}

.answer:hover{
    color: white;
}

/*Styling for the answer header text*/
.answerHead{
    display: table-cell;
    vertical-align: middle;
    color:inherit;
    text-align: center;
    font-size: 1.75vw;
}