/*Styling for the Side Pane that holds the question and guess box*/
#sidePane{
    position: absolute;
    margin-left: 700px;
    width:700px;
    height:900px;
    background: #000000;
}

/*Styling for the guess box*/
#guessbox {
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 100px;
    font-size: 40px;
    text-align: center;
    color: red;
    background: transparent;
    border: none;
    border-bottom: 2px solid;
    border-color: red;
}

/*Styling for the question*/
#question{
    position: relative;
    margin-top: 20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    border: 2px solid green;
    background-image: url(resources/book.png);
    width:600px;
    height:150px;
}
.questionHead{
    color:white;
    text-align: center;
}

/*Styling for the answers*/
.answer{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    position: relative;
    border: 2px solid green;
    background-image: url(resources/darkBook.png);
    width:600px;
    height:100px;
}
/*highlight selected answer*/
.answer:active{
    background-image: url(resources/Selectedbook.png);
}

.answerHead{
    color:white;
    text-align: center;
    top:20px;
}