*{
    font-family: 'Macondo', cursive;
}

body {
    background: black;
}

#screen{
    display: flex;
}
h1{
    color: firebrick;
    font-size: 80 px; 
}
p{
    color:firebrick;
    font-size: 30px;
}

.helpButton {
    background-color: firebrick;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 48px;
    margin: 4px 2px;
    border-radius: 30px;
    width: 250 px;
    transition-duration: 0.7s;
}
#startButton{
    background-color: firebrick;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 48px;
    margin: 4px 2px;
    border-radius: 30px;
    width: 250 px;
    transition-duration: 0.7s;
  
}
.categories-list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-color: red;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.categories-list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.startButton:hover{
    background-color: orangered;
    box-shadow: 0 5px #ffffff;
}
.categories-list a:hover {background-color: #f1f1f1}

.show {display:block;}
.helpButton:hover{
    background-color: orangered;
    box-shadow: 0 5px #ffffff;
}
.helpButton:active {
  background-color: orangered;
  box-shadow: 0 5px #ffffff;
  transform: translateY(4px);
}
a{
    text-align: center;
    
    font-size: px;
    border-radius: 5px;
}
