*{
    font-family: 'Macondo', cursive;
}
#screen{
    display: flex;
}

body {
    background-color: black;
    background-image: url(resources/quizbox150.png);
    background-repeat:  repeat-y;

  
}


h1{
    color: firebrick;
    font-stretch: expanded;
    font-size: 60px;
    text-align:center;
    margin-top: 300px;
}
p{
    color:firebrick;
    font-size: 30px;
}

.helpButton {
    background-color: firebrick;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 48px;
    border-radius: 30px;
    width: 250 px;
    transition-duration: 0.7s;
}
#startButton{
    background-color: firebrick;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 550px;
    border-radius: 30px;
    width: 250 px;
    transition-duration: 0.7s;
  
}

.startButton:hover{
    background-color: orangered;
    box-shadow: 0 5px #ffffff;
}

.show {display:block;}
.helpButton:hover{
    background-color: orangered;
    box-shadow: 0 5px #ffffff;
}
.helpButton:active {
  background-color: orangered;
  box-shadow: 0 5px #ffffff;
  transform: translateY(4px);
}
a{
    text-align: center;
    font-size: px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: orangered;
    box-shadow: 0 5px #ffffff;
    border: 30px;
}
