*{
    font-family: 'Macondo', cursive;
}

body {
    background: black;
}

#screen{
    display: flex;
}

#canvas-container {
    width:50%;
    height: auto;
}   

canvas {
    width:80%;
}

/*Styling for the Side Pane that holds the question and guess box*/
#sidePane{
    display: inline;
    width: 50%;
    background: #000000;
}

/*Styling for the guess box*/
#guessbox {
    margin-top: 2vw;
    display: block;
    margin-left:auto;
    margin-right: auto;
    font-size: 3vw;
    text-align: center;
    color: red;
    background: transparent;
}

/*Styling for the question*/
#question{
    margin-bottom:1vw;
    margin-left:auto;
    margin-right:auto;
    border: none;
    width: 80%;
    height: 18%;
    background-image: url(resources/book.png);
    background-size: cover;

}
.questionHead{
    color:red;
    text-align: center;
    font-size: 2vw;
}

/*Styling for the answers*/
.answer{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1vw;
    border: none;
    width: 80%;
    height:13%;
    background-image: url(resources/darkBook.png);
    background-size: cover;
}
/*highlight selected answer*/
.answer:active{
    background-image: url(resources/Selectedbook.png);

}

.answerHead{
    color:white;
    text-align: center;
    font-size: 1.75vw;
}